# Curl (copy to c/ )
https://aminet.net/comm/tcp/curl-8.11.2.lha

# AmiSSL (optional if https not working)
https://aminet.net/util/libs/AmiSSL-v5-OS3.lha

# Python 2.0
https://aminet.net/dev/lang/Python20.lha

#Python 2.0.1 update
https://aminet.net/dev/lang/Python201.lha